/* CSS for positioning */
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#videoElement {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0.6; */
}

#canvas2d {
    /* background-color: aquamarine; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
}

.buttonGroup {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 60;
}

/* Adjust this style to fit your layout */
.threeviewer {
    z-index: 1;
    /* Ensure Three.js scene is on top */
}